---
ustreamer_interface: "{{ ustreamer_interface }}"
ustreamer_port: "{{ ustreamer_port }}"
ustreamer_video_path: "{{ ustreamer_video_path }}"
ustreamer_encoder: "{{ ustreamer_encoder }}"
ustreamer_format: "{{ ustreamer_format }}"
ustreamer_resolution: "{{ ustreamer_resolution }}"
ustreamer_desired_fps: "{{ ustreamer_desired_fps }}"
ustreamer_workers: "{{ ustreamer_workers }}"
ustreamer_quality: "{{ ustreamer_quality }}"
ustreamer_brightness: "{{ ustreamer_brightness }}
ustreamer_persistent: "{{ ustreamer_persistent }}"
ustreamer_use_dv_timings: "{{ ustreamer_use_dv_timings }}"
ustreamer_drop_same_frames: "{{ ustreamer_drop_same_frames }}"
ustreamer_tcp_nodelay: "{{ ustreamer_tcp_nodelay }}"
ustreamer_h264_sink: "{{ ustreamer_h264_sink }}"
ustreamer_h264_sink_mode: "{{ ustreamer_h264_sink_mode }}"
ustreamer_h264_sink_rm: "{{ ustreamer_h264_sink_rm }}"
ustreamer_h264_bitrate: "{{ ustreamer_h264_bitrate }}"
