[Unit]
Description=uStreamer - Lightweight, optimized video encoder
After=syslog.target network.target

[Service]
Type=simple
User={{ ustreamer_user }}
WorkingDirectory={{ ustreamer_dir }}
ExecStart={{ ustreamer_dir }}/ustreamer --device {{ ustreamer_video_path }} --host {{ ustreamer_interface }} --port {{ ustreamer_port }} --encoder {{ ustreamer_encoder }} --format {{ ustreamer_format }} --workers {{ ustreamer_workers }} {{ ustreamer_persistent | ternary("--persistent", "")}} {{ ustreamer_dv_timings | ternary("--dv-timings", "") }} --drop-same-frames {{ ustreamer_drop_same_frames }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
